* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background-color: #131334;
    color: #EBEBEB;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 20px;
}

/* Griglia calendario*/

.day {
    display: inline-block;
    width: 14%;
    height: 130px;
    /* per poter posizionare al centro ho bisogno del position*/
    position: relative;
    border: 1px solid #0d6f83;
    border-radius: 10px;
    cursor: pointer;
}

.day:hover, .day:hover h3 {
    background-color: #15132e;
}

.day h3 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.currentDay, .currentDay:hover{
    background-color: #FFC0CB;
}

.sunday {
    color: red;
}

/* Impegni */

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
}

#addMeeting div {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 50px;
}

form {
    display: inline;
}

#newMeetingDay {
    display: inline-block;
    min-height: 24px;
}